<footer>
  <div class="footer-header">
    <div class="footer-header-content not-drag">
      <!-- <div class="board-link">
        <a [routerLink]="'/board'">공지사항</a>
      </div> -->
      <!-- <div class="board-link">
        <a [routerLink]="'/board'">FAQ</a>
      </div> -->
      <!-- <div class="board-link">
        <a [routerLink]="'/board/5f5ef523713d42001159a011'">출결관리 안내</a>
      </div> -->
      <!-- <br class="d-block d-sm-none">
      <div class="board-link">
        <a [routerLink]="'/board/5f5ef50a713d42001159a010'">온라인 평점</a>
      </div> -->
      <div class="board-link">
        <a [routerLink]="'/board/5f5ef4efc8a06a0011726bbf'">이용약관</a>
      </div>
    </div>
  </div>
  <div class="footer-body">
    <div class="row">
      <div class="col col-md-4 col-12 footer-logo"></div>
      <div class="col col-md-8 col-12 footer-description">
        Hosted by<br>Organizing Committee of the Korean Orthopaedic Association <br>
        President, Choon Ki Lee, MD, Ph.D. <br>
        (Address)A-604, Centreville Asterium Seoul, 372 Hangang-daero, Yongsan-gu Seoul, 04323, Korea <br>
        Business Registration Number : 106-82-31262 Tel : +82-2-780-2766<br>
        Fax :+82-2-780-2767 Email : ortho@koa.or.kr
      </div>
    </div>
  </div>
</footer>
