$headerHeight: 68px;
$brandHeight: 54px;

header {
  background: var(--white);
  border-bottom: 1px solid var(--gray22);
  min-height: $headerHeight;

  &.not-ie {
    >div {
      opacity: 0;
    }
  }

  nav {
    min-height: $headerHeight;

    .navbar-brand {
      margin-right: 30px;
      width: 147px;
      height: 68px;
      max-width: calc(100% - 180px);
      display: flex;
      align-items: center;
      justify-content: center;
      background-image: url('/assets/img/logo.png');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }

    button.navbar-toggler {
      width: 40px;
      height: 32px;
    }
  }

  .navbar-collapse {
    padding: 16px;

    ul li.nav-item {
      margin-right: 12px;
      align-self: center;
      text-align: center;

      &:last-child {
        margin-right: 0;
      }

      a {
        color: var(--gray25);
        font-size: 1.25rem;

        &.active {
          color: var(--blue6);

        }
      }

      .btn-logout {
        color: var(--red);
        font-weight: 600;
      }

      .btn-atndn {
        margin: 0 8px;
        width: 154px;
        height: 34px;
        color: var(--white);
        border-radius: 11px;
        background: var(--blue5);
      }

      &:hover {
        background: var(--gray7);

        a {
          color: var(--black);
        }
      }
    }

    ul li#Live .nav-link {
      position: relative;
      color: var(--orange2);
      display: inline-block;
      padding-left: 8px;
      padding-right: 8px;

      &::before {
        position: absolute;
        content: '';
        top: .5rem;
        left: .2rem;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background: var(--orange2);
      }

      &.active {
        color: var(--red);

        &::before {
          background: var(--red);
        }
      }
    }

    ul li#VOD .nav-link {
      color: var(--blue7);

      &.active {
        color: var(--blue1);
      }
    }
  }

  .btn-login {
    color: var(--gray25);
    font-size: 1.4rem;
    font-weight: 600;
    transition: all 2s ease;
    -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    -ms-transition: all 2s ease;
    -o-transition: all 2s ease;

    &.active {
      color: var(--gray16);
    }
  }

  .btn-atndn {
    width: 154px;
    height: 34px;
    color: var(--white);
    border-radius: 11px;
    background: var(--blue5);

    &.d-lg-none {
      width: 100px;
    }
  }

  .my-menus .btn-my-page img {
    width: 26px;
    height: 26px;
  }
}


@media (max-width: 1280px) {

  header {

    .navbar-collapse ul li.nav-item {
      margin-right: 0;

      &>a {
        padding: 0.5rem 0.2rem;
        font-size: 1.12rem;
      }
    }

    nav .navbar-brand {

      margin-right: 0;
    }

    .content-inner {
      padding: 0 16px;
    }
  }
}

