<div class="content-body">
  <div class="content-wrapper">
    <div class="content-inner">
      <div>
        <div class="title-wrapper">
          <h2>Sponsors</h2>
        </div>
        <article>
					<div class="sponsors-banner">
						<h3>다이아몬드</h3>
					</div>
          <div class="list-wrapper row m-0">
            <div class="list-item px-3 " *ngFor="let sponsor of sponsors">
              <app-sponsor [sponsor]="sponsor"></app-sponsor>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</div>
