<div class="timetable-wrapper">

  <div class="timetable-nav">
    <div class="timetable-title">
      <p>Day</p>
    </div>
    <div class="timetable-list">
      <div class="content-inner">
        <div class="nav-item"><a [ngClass]="{'active':date===1}" (click)="setDate(1)">Oct. 15<sup>th</sup>. 2020. Thu</a></div>
        <div class="nav-item"><a [ngClass]="{'active':date===2}" (click)="setDate(2)">Oct. 16<sup>th</sup>. 2020. Fri.</a></div>
        <div class="nav-item"><a [ngClass]="{'active':date===3}" (click)="setDate(3)">Oct. 17<sup>th</sup>. 2020. Sat</a></div>
      </div>
    </div>
  </div>
  <div class="timetable">
    <!-- <p class="timetable-label">(K): Korean , (E): English </p> -->
    <!-- 15일 -->
    <table class="program" #table1 *ngIf="date === 1">
      <colgroup>
        <col style="width:4%">
        <col style="width:19%">
        <col style="width:19%">
        <col style="width:19%">
        <col style="width:19%">
        <col style="width:19%">
      </colgroup>
      <thead>
        <tr>
          <th class="backslash"><span>Room</span><span>Time</span></th>
          <th #th1>Room A<div class="channel-btn" [ngStyle]="channelBtnStyle1" (click)="goLive(0, 0)"></div>
          </th>
          <th>Room B<div class="channel-btn" [ngStyle]="channelBtnStyle1" (click)="goLive(0, 1)"></div>
          </th>
          <th>Room C<div class="channel-btn" [ngStyle]="channelBtnStyle1" (click)="goLive(0, 2)"></div>
          </th>
          <th>Room D<div class="channel-btn" [ngStyle]="channelBtnStyle1" (click)="goLive(0, 3)"></div>
          </th>
          <th>Room E<div class="channel-btn" [ngStyle]="channelBtnStyle1" (click)="goLive(0, 4)"></div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>07:55-08:00</td>
          <td>Opening Ceremony </td>
          <td colspan="4"></td>
        </tr>
        <tr>
          <td>08:00-08:30</td>
          <td>Hip 1 (K) <br> Radiographic Study</td>
          <td>Fracture 1 (E)
            Miscellaneous I</td>
          <td>Basic & Research 1 (K)
            Bone and Metastasis</td>
          <td>Foot & Ankle 1 (K)
            Calcaneal Fracture </td>
          <td rowspan="3"></td>
        </tr>
        <tr>
          <td>08:30-09:00</td>
          <td>Hip 2 (K) <br> Diagnostic Imaging</td>
          <td>Fracture 2 (K) <br>
            Pelvis fracture</td>
          <td>Basic & Research 2 (K)
            Biomarker and Pain</td>
          <td>Foot & Ankle 2 (K) <br>
            Total Ankle Arthroplasty <br>1
          </td>
        </tr>
        <tr>
          <td>09:00-09:30</td>
          <td>Hip 3 (K) <br> Osteoporosis and <br> Sarcopenia</td>
          <td>Fracture 3 (E) <br>
            Proximal femur fracture <br>I</td>
          <td>Basic & Research 3 (K)
            Miscellaneous</td>
          <td>Foot & Ankle 3 (K) <br>
            Total Ankle Arthroplasty <br>2 </td>
        </tr>
        <tr>
          <td>09:30-10:00</td>
          <td>Hip 4 (K) <br> Pelvic and Hip Fracture</td>
          <td>Fracture 4 (E) <br>
            Femur fracture I</td>
          <td>Basic & Research 4 (E)
            Stem cell</td>
          <td rowspan="2" class="type01">Symposium 4: <br>
            Foot & Ankle 1 (E)
          </td>
          <td rowspan="5">Academia and Industry <br> Cooperation <br>Symposium</td>
        </tr>
        <tr>
          <td>10:00-10:30</td>
          <td>Hip 5 (K) <br> Intertrochanter Fracture</td>
          <td>Fracture 5 (E) <br>
            Atypical femur fracture I</td>
          <td>Basic & Research 5 (E)
            Tendon
          </td>
        </tr>
        <tr>
          <td>10:30-11:00</td>
          <td>Hip 6 (K) <br> Hip Fracture and <br> Comorbidity</td>
          <td>Fracture 6 (K)
            Atypical femur fracture <br>II</td>
          <td>Basic & Research 6 (E)
            Osteoporosis and Nerve </td>
          <td>Foot & Ankle 4 (K)
            Hindfoot </td>
        </tr>
        <tr>
          <td>11:00-11:30</td>
          <td>Hip 7 (E) <br> FAI</td>
          <td>Fracture 7 (E)
            Acetabular fracture I</td>
          <td>Basic & Research 7 (E)
            Biomechanics and <br> Citation</td>
          <td>Foot & Ankle 5 (E)
            Osteochondral Lesion</td>
        </tr>
        <tr>
          <td>11:30-12:00</td>
          <td>Hip 8 (E) <br> Hip Preservation</td>
          <td>Fracture 8 (E) <br>
            Upper extremity fracture I</td>
          <td></td>
          <td>Foot & Ankle 6 (E) <br>
            Diabetic Foot</td>
        </tr>
        <tr>
          <td>12:00-12:30</td>
          <td>Luncheon Symposium <br>(Daewon <br>Pharmaceutical) & Lunch</td>
          <td></td>
          <td></td>
          <td></td>
          <td rowspan="2">Lunch</td>
        </tr>
        <tr>
          <td>12:30-13:00</td>
          <td class="type01">Symposium 1: <br> Hip (E) <br> Hip <br> Dysplasia_Preservation</td>
          <td>Fracture 9 (K) <br>Upper extremity <br> fracture II</td>
          <td>Tumor 1 (E) <br>Basic Research</td>
          <td>Foot & Ankle 7 (E) <br>
            Miscellanous</td>
        </tr>
        <tr>
          <td>13:00-13:30</td>
          <td class="type01">Symposium 2: <br> Hip (E) <br> Hip Dysplasia_THA</td>
          <td>Fracture 10 (E) <br>Upper extremity <br> fracture III</td>
          <td>Tumor 2 (K) <br>Prognosis and Outcome</td>
          <td>Foot & Ankle 8 (E) <br> Ankle OA 1</td>
          <td rowspan="9">Academia and Industry 1:1 <br>Partnering Program</td>
        </tr>
        <tr>
          <td>13:30-14:00</td>
          <td>Hip 9 (K) <br> ONFH</td>
          <td>Fracture 11 (K) <br>
            Femur fracture II & complication</td>
          <td>Tumor 3 (E) <br> Surgical Managemen</td>
          <td>Foot & Ankle 9 (K) <br> Ankle OA 2</td>
        </tr>
        <tr>
          <td>14:00-14:30</td>
          <td>Hip 10 (K) <br>
            THA_Approach</td>
          <td>Fracture 12 (K) <br>
            Around knee fracture I</td>
          <td>Tumor 4 (K) <br> Reconstruction After <br> Excision</td>
          <td>Foot & Ankle 10 (K) <br> Ankle OA 3</td>
        </tr>
        <tr>
          <td>14:30-15:00</td>
          <td>Hip 11 (E) <br> THA_Articulation</td>
          <td>Fracture 13 (E) <br>
            Around knee & <br> ankle fracture II</td>
          <td>Tumor 5 (E) <br> Diagnostic Apporach</td>
          <td rowspan="2" class="type01">Symposium 5: <br> Foot & Ankle 2 (E)</td>
        </tr>
        <tr>
          <td>15:00-15:30</td>
          <td>Hip 12 (K) <br> THA_Stem</td>
          <td>Fracture 14 (K) <br>
            Tibia fracture</td>
          <td>Tumor 6 (K) <br> Bone Metastasis</td>
        </tr>
        <tr>
          <td>15:30-16:00</td>
          <td>Hip 13 (E) <br> THA_Closure</td>
          <td>Fracture 15 (K) <br>
            Miscellaneous II</td>
          <td>Tumor 7 (E) <br> New Treatment Method</td>
          <td>Foot & Ankle 11 (K) <br> Ankle Instability</td>
        </tr>
        <tr>
          <td>16:00-16:30</td>
          <td>Hip 14 (E) <br> THA_Periprosthetic <br> Facture and Joint <br> Infection</td>
          <td>Fracture 16 (K) <br>
            Foot & ankle fracture</td>
          <td>Microsurgery 1 (E) <br>
            Microsurgical <br> Reconstruction of the <br>Lower Extremities</td>
          <td>Foot & Ankle 12 (K) <br> Forefoot</td>
        </tr>
        <tr>
          <td>16:30-17:00</td>
          <td>Hip 15 (E) <br> THA_How to Improve <br> Outcome</td>
          <td>Fracture 17 (K) <br>
            Miscellaneous III</td>
          <td rowspan="2" class="type01">Symposium 3: <br>
            Microsurgery (E) <br>
            Reconstruction for lower extremity defec</td>
          <td>Foot & Ankle 13 (K) <br>
            Foot & Ankle Trauma</td>
        </tr>
        <tr>
          <td>17:00-17:30</td>
          <td>Hip 16 (E) <br> THA_Long-term Outcome</td>
          <td rowspan="2" class="type02">필수평점강의 (K) <br> Medical Law</td>
          <td rowspan="2" class="type01">Symposium 6: <br>
            Foot & Ankle 3 (E)</td>
        </tr>
        <tr>
          <td>17:30-18:00</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
    <!-- 16일 -->
    <table class="program" #table2  *ngIf="date === 2">
      <colgroup>
        <col style="width:5%">
        <col style="width:19%">
        <col style="width:19%">
        <col style="width:19%">
        <col style="width:19%">
        <col style="width:19%">
      </colgroup>
      <thead>
        <tr>
          <th class="backslash"><span>Room</span><span>Time</span></th>
          <th #th2>Room A<div class="channel-btn" [ngStyle]="channelBtnStyle2" (click)="goLive(1, 0)"></div>
          </th>
          <th>Room B<div class="channel-btn" [ngStyle]="channelBtnStyle2" (click)="goLive(1, 1)"></div>
          </th>
          <th>Room C<div class="channel-btn" [ngStyle]="channelBtnStyle2" (click)="goLive(1, 2)"></div>
          </th>
          <th>Room D<div class="channel-btn" [ngStyle]="channelBtnStyle2" (click)="goLive(1, 3)"></div>
          </th>
          <th>Room E<div class="channel-btn" [ngStyle]="channelBtnStyle2" (click)="goLive(1, 4)"></div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>08:00-08:30</td>
          <td rowspan="2" class="type02">
            필수평점강의 (K) <br>Orthopaedic <br> surgeons’ <br> perspective on <br> SARS-CoV-2</td>
          <td>Shoulder & Elbow 1 (E) <br>
            Rotator cuff 1</td>
          <td>Knee 1 (K) <br>
            Arthroplasty</td>
          <td>Pediatric 1 (K) <br>
            Deformity</td>
          <td>Hand 1 (E) <br>
            Walant and Tendon </td>
        </tr>
        <tr>
          <td>08:30-09:00</td>
          <td>Shoulder & Elbow 2 (K) <br>
            Trauma 1</td>
          <td>Knee 2 (K) <br>
            Arthroplasty </td>
          <td>Pediatric 2 (E) <br>
            Deformity </td>
          <td>Hand 2 (E) <br>
            Congenital</td>
        </tr>
        <tr>
          <td>09:00-09:30</td>
          <td rowspan="2" class="type04">Plenary lecture 1 <br>
            Spine (E) <br>
            K. Daniel Riew</td>
          <td>Shoulder & Elbow 3 (K) <br>
            Basic 1</td>
          <td>Knee 3 (E) <br>
            Arthroplasty</td>
          <td>Pediatric 3 (E) <br>
            Lower extremity</td>
          <td>Hand 3 (E) <br>
            Distal Radius Fracture 1</td>
        </tr>
        <tr>
          <td>09:30-10:00</td>
          <td>Shoulder & Elbow 4 (K) <br>
            Rotator cuff 2 </td>
          <td>Knee 4 (K) <br>
            Ligament </td>
          <td>Pediatric 4 (E) <br>
            Trauma</td>
          <td>Hand 4 (E) <br>
            Distal Radius Fracture 2
          </td>
        </tr>
        <tr>
          <td>10:00-10:30</td>
          <td rowspan="2" class="type04">Plenary lecture 2 <br>
            Foot & Ankle (E) <br>
            Keith L. Wapner</td>
          <td>Shoulder & Elbow 5 (K) <br>
            Instability</td>
          <td>Knee 5 (K) <br>
            Ligament
          </td>
          <td>Pediatric 5 (E) <br>
            Hip and <br> neuromuscular
          </td>
          <td>Hand 5 (K) <br>
            Distal Radius <br> Fracture 3
          </td>
        </tr>
        <tr>
          <td>10:30-11:00</td>
          <td>Shoulder & Elbow 6 (E) <br>
            Elbow 1 </td>
          <td>Knee 6 (E) <br>
            Cartilage </td>
          <td rowspan="2" class="type01">Symposium 7: <br>
            Pediatric (E) <br>
            Surgical Management of <br> Pediatric Hip Disorders</td>
          <td>Hand 6 (K) <br>
            Distal Radius Fracture 4
          </td>
        </tr>
        <tr>
          <td>11:00-11:30</td>
          <td rowspan="2" class="type04">Plenary lecture 3 <br>
            Knee (E) <br>
            Scott Arthur Banks</td>
          <td>Shoulder & Elbow 7 (K) <br>
            Arthroplasty 1</td>
          <td>Knee 7 (E) <br>
            Osteotomy
          </td>
          <td>Hand 7 (K) <br>
            Distal Radius Fracture 5
          </td>
        </tr>
        <tr>
          <td>11:30-12:00</td>
          <td>Shoulder & Elbow 8 (E) <br>
            Rotator cuff 3</td>
          <td>Knee 8 (K) <br>
            Arthroplasty </td>
          <td>Pediatric 6 (E) <br>
            Miscellaneous</td>
          <td>Hand 8 (E) <br>
            Ulnar Side Wrist</td>
        </tr>
        <tr>
          <td>12:00-13:00</td>
          <td class="type05">Presentation of Scientific <br> Award Papers (K)<br>& Lunch</td>
          <td></td>
          <td>Luncheon Symposium(Daewon Pharmaceutical) & Lunch</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>13:00-13:30</td>
          <td rowspan="3" class="type03">AI Primer Course 1 (K)</td>
          <td>Shoulder & Elbow 9 (K) <br>
            Elbow 2</td>
          <td>Knee 9 (K) <br>
            Arthroplasty</td>
          <td>Pediatric 7 (K) <br>
            Trauma</td>
          <td rowspan="2" class="type01">Symposium 8: <br>
            Hand (E) <br>
            Update in wrist surgery</td>
        </tr>
        <tr>
          <td>13:30-14:00</td>
          <td>Shoulder & Elbow  <br> 10 (E) <br>
            Arthroplasty 2</td>
          <td>Knee 10 (E) <br>
            Arthroplasty</td>
          <td>Pediatric 8 (K) <br>
            Hip</td>
        </tr>
        <tr>
          <td>14:00-14:30</td>
          <td>Shoulder & Elbow  <br> 11 (K)<br>
            Miscellaneous 1</td>
          <td>Knee 11 (E) <br>
            Arthroplasty </td>
          <td>Pediatric 9 (K) <br>
            Foot</td>
          <td>Hand 9 (E) <br>
            Wrist and Forearm</td>
        </tr>
        <tr>
          <td>14:30-15:00</td>
          <td rowspan="2" class="type03">AI Primer Course 2 (K)</td>
          <td>Shoulder & Elbow  <br> 12 (E) <br>
            Rotator cuff 4</td>
          <td>Knee 12 (K) <br>
            Arthroplasty</td>
          <td>Pediatric 10 (K)
            Miscellaneous</td>
          <td>Hand 10 (K) <br>
            TFCC and Arthroscopy</td>
        </tr>
        <tr>
          <td>15:00-15:30</td>
          <td>Shoulder & Elbow  <br> 13 (E)<br>
            Miscellaneous 2</td>
          <td>Knee 13 (K) <br>
            Arthroplasty</td>
          <td>Spine 1 (K) <br>
            Deformity 1</td>
          <td>Hand 11 (K) <br>
            Tumor & Kienböck</td>
        </tr>
        <tr>
          <td>15:30-16:00</td>
          <td class="type03">The 65th General Assembly of the KOA (K)</td>
          <td>Shoulder & Elbow <br> 14 (E) <br>
            Trauma 2</td>
          <td>Knee 14 (E) <br>
            Arthroplasty</td>
          <td>Spine 2 (K) <br>
            Deformity 2</td>
          <td>Hand 12 (K) <br>
            Carpal Bone</td>
        </tr>
        <tr>
          <td>16:00-16:30</td>
          <td class="type06">President Lecture (K)</td>
          <td>Shoulder & Elbow <br> 15 (K) <br>
            Rotator cuff 5</td>
          <td>Knee 15 (E) <br>
            Arthroplasty</td>
          <td>Spine 3 (E) <br>
            Deformity 3</td>
          <td>Hand 13 (K) <br>
            Arthritis</td>
        </tr>
        <tr>
          <td>16:30-17:00</td>
          <td rowspan="2" class="type04">Plenary Lecture 4
            Spine (E) <br>
            Jean Charles Le Huec</td>
          <td>Shoulder & Elbow <br> 16 (E) <br>
            Elbow 3</td>
          <td>Knee 16 (E) <br>
            Osteotomy</td>
          <td>Spine 4 (E) <br>
            Deformity 4</td>
          <td>Hand 14 (K) <br>
            Hand Fractures</td>
        </tr>
        <tr>
          <td>17:00-17:30</td>
          <td>Shoulder & Elbow <br> 17 (K) <br>
            Basic 2</td>
          <td>Knee 17 (E) <br>
            Osteotomy</td>
          <td>Spine 5 (K) <br>
            Cervical 1</td>
          <td>Hand 15 (E) <br>
            Dupuytren and DIGIT</td>
        </tr>
        <tr>
          <td>17:30-18:00</td>
          <td></td>
          <td>Shoulder & Elbow  <br> 18 (K) <br>
            Rotator cuff 6</td>
          <td>Knee 18 (K) <br>
            Osteotomy</td>
          <td>Spine 6 (E) <br>
            Cervical 2</td>
          <td>Hand 16 (E) <br>
            Nerve and Epicondylitis</td>
        </tr>
      </tbody>
    </table>
    <!-- 17일 -->
    <table class="program" #table3 *ngIf="date === 3">
      <colgroup>
        <col style="width:7%">
        <col style="width:31%">
        <col style="width:31%">
        <col style="width:31%">
      </colgroup>
      <thead>
        <tr>
          <th class="backslash"><span>Room</span><span>Time</span></th>
          <th #th3>Room A<div class="channel-btn" [ngStyle]="channelBtnStyle3" (click)="goLive(2, 0)"></div>
          </th>
          <th>Room B<div class="channel-btn" [ngStyle]="channelBtnStyle3" (click)="goLive(2, 1)"></div>
          </th>
          <th>Room C<div class="channel-btn" [ngStyle]="channelBtnStyle3" (click)="goLive(2, 2)"></div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>08:00-08:30</td>
          <td>Shoulder & Elbow 19 (E) <br>
            Rotator cuff (SCR) 7</td>
          <td>Knee 19 (K) <br>
            General</td>
          <td>Spine 7 (E) <br>
            Cervical 3</td>
        </tr>
        <tr>
          <td>08:30-09:00</td>
          <td>Shoulder & Elbow 20 (E) <br>
            Arthroplasty 3</td>
          <td>Knee 20 (E) <br>
            Meniscus</td>
          <td>Spine 8 (K) <br>
            Cervical 4</td>
        </tr>
        <tr>
          <td>09:00-09:30</td>
          <td>Shoulder & Elbow 21 (K) <br>
            Rotator cuff (SCR) 8</td>
          <td>Knee 21 (E) <br>
            Meniscus / Ligament</td>
          <td>Spine 9 (K) <br>
            Basic</td>
        </tr>
        <tr>
          <td>09:30-10:00</td>
          <td>Shoulder & Elbow 22 (K) <br>
            Miscellaneous 3</td>
          <td>Knee 22 (K) <br>
            Meniscus</td>
          <td>Spine 10 (K) <br>
            Lumbar 1</td>
        </tr>
        <tr>
          <td>10:00-10:30</td>
          <td>Shoulder & Elbow 23 (K) <br>
            Rotator cuff 9</td>
          <td>Knee 23 (K) <br>
            Meniscus</td>
          <td>Spine 11 (E) <br>
            Lumbar 2</td>
        </tr>
        <tr>
          <td>10:30-11:00</td>
          <td>Shoulder & Elbow 24 (K) <br>
            Arthroplasty 4</td>
          <td>Knee 24 (K) <br>
            Ligament / General</td>
          <td>Spine 12 (K) <br>
            Lumbar 3</td>
        </tr>
        <tr>
          <td>11:00-11:30</td>
          <td>Shoulder & Elbow 25 (E) <br>
            Miscellane</td>
          <td>Knee 25 (E) <br>
            Osteotomy / General</td>
          <td>Spine 13 (E) <br>
            Lumbar 4
          </td>
        </tr>
        <tr>
          <td>11:30-12:00</td>
          <td>Shoulder & Elbow 26 (K) <br>
            Rotator cuff 10</td>
          <td>Knee 26 (E) <br>
            Ligament</td>
          <td>Spine 14 (K) <br>
            Lumbar 5</td>
        </tr>
        <tr>
          <td>12:00-12:30</td>
          <td></td>
          <td>Luncheon <br> Symposium(Pharmaresearch <br> Products) & Lunch</td>
          <td>Luncheon Symposium (SK Chemicals) & <br> Lunch</td>
        </tr>
        <tr>
          <td>12:30-13:00</td>
          <td>Shoulder & Elbow 27 (K) <br>
            Miscellaneous 5</td>
          <td>Knee 27 (K) <br>
            Arthroplasty</td>
          <td>Spine 15 (E) <br>
            MISS 1</td>
        </tr>
        <tr>
          <td>13:00-13:30</td>
          <td>Shoulder & Elbow 28 (K) <br>
            Trauma 3</td>
          <td>Knee 28 (K) <br>
            General</td>
          <td>Spine 16 (K) <br>
            MISS 2</td>
        </tr>
        <tr>
          <td>13:30-14:00</td>
          <td>Shoulder & Elbow 29 (K) <br>
            Rotator cuff 11</td>
          <td>Knee 29 (E) <br>
            Arthroplasty</td>
          <td>Spine 17 (E) <br>
            Osteoporosis 1</td>
        </tr>
        <tr>
          <td>14:00-14:30</td>
          <td rowspan="4" class="type03">Brace and orthosis <br>
            Symposium (K)</td>
          <td>Knee 30 (E) <br>
            Arthroplasty / General</td>
          <td>Spine 18 (K) <br>
            Osteoporosis 2</td>
        </tr>
        <tr>
          <td>14:30-15:00</td>
          <td class="type01">Symposium 9: <br>
            Orthopaedic Ultrasound (E) <br>
            US evaluation of sports injures <br> on upper extremity</td>
          <td>Spine 19 (E) <br>
            Trauma 1</td>
        </tr>
        <tr>
          <td>15:00-15:30</td>
          <td class="type01">Symposium 10: <br>
            Orthopaedic Ultrasound (E) <br>
            US evaluation of sports injures on lower extremity</td>
          <td>Spine 20 (K) <br>
            Trauma 2</td>
        </tr>
        <tr>
          <td>15:30-16:00</td>
          <td></td>
          <td>Spine 21 (E) <br>
            Infection and Inflammatory disease</td>
        </tr>
        <tr>
          <td>16:00-16:30</td>
          <td colspan="4">Closing Ceremony (Room A)<br>
            (Executive Dinner_Flamingo)</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
