<div class="player-wrapper">
  <div class="player" [ngClass]="{'is-vod': !isLive}">
    <div class="left-wrapper" id="playerContainer" [ngStyle]="{'width':isLive?'70%':'100%'}" *ngIf="content">
      <div class="only-iframe-wrapper">
        <!-- <iframe width="100%" height="100%" src="https://jlab-live.xst.kinxcdn.com/jlab_live/will01/playlist.m3u8" webkitallowfullscreen allowfullscreen frameborder="0"
          allow="autoplay; fullscreen"></iframe> -->
        <video playsInline #videoPlayer allowfullscreen="false" autoplay controls="true" id="videoJs" class="video-js vjs-default-skin">
        </video>
      </div>
    </div>
    <div class="right-wrapper" *ngIf="!isAgendaDetail">
      <div class="ad">
        <!-- 이미지 슬라이더 (신경외과용 이니 나중에 복사한다.) -->
        <div class="banners-wrapper" *ngIf="banners.length > 0">
          <div class="banners-btn banners-prev" (click)="slidePrev('bannerSlider')">
            <img src="assets/img/ic_dropdown_class_up.png">
          </div>
          <ng-image-slider #bannerSlider [infinite]="true" [imagePopup]="false" [autoSlide]="3" [animationSpeed]="0"
            [images]="banners" [imageSize]="{ width: '100%', height: 87, space: 0 }" [manageImageRatio]="true"
            [showArrow]="false" (imageClick)="imageClick($event)">
          </ng-image-slider>
          <div class="banners-btn banners-next" (click)="slideNext('bannerSlider')">
            <img src="assets/img/ic_dropdown_class_up.png">
          </div>
        </div>
      </div>

      <div class="reply not-drag">
        <div class="reply-header">
          <a [href]="ebookUrl" target="_blank">Abstract</a>
          <a [routerLink]="'/board'">Notice</a>
        </div>
        <div class="reply-list">
          <div #commentList class="reply-history">
            <div class="reply-item" *ngFor="let reply of replys; let last = last">
              <div class="reply-user">{{reply?.member?.name}}</div>
              <div class="reply-content">
                {{reply.content}}
                <span *ngIf="check(reply)"><a (click)="delete(reply)" class="reply-delete">X</a></span>
              </div>
              <!-- {{last? downScroll():''}} -->
            </div>
          </div>
        </div>
        <form class="reply-form" [formGroup]="replyForm" (submit)="comment()">
          <label>[{{user.name}}]</label>
          <input class="form-control" type="text" placeholder="Submit your question on session."
            formControlName="content" />
          <hr>
          <div class="text-right">
            <!-- 0/200  -->
            <button class="btn btn-send" type="submit">SEND</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
