<div class="content-body">
  <div class="content-wrapper">
    <div class="content-inner">
      <div class="title-wrapper">
        <h2 class="live">Academic Exhibition</h2>
      </div>
      <div class="poster-detail-wrapper">
        <div class="poster-detail-title">
          <p>{{ selectedPoster.category?.categoryName }}</p>
          <h3>{{ selectedPoster.title }}</h3>
        </div>
        <div class="poster-detail-content">
          <div class="poster-content-body">
            <div class="iframe-wrapper">
              <p [innerHTML]="selectedPoster.description | safeHtml"></p>
            </div>
          </div>
          <div class="poster-content-footer">
            <div class="poster-info">
              <h4>
                Author
              </h4>
              <p>
                {{ selectedPoster.author }}
              </p>
            </div>
            <div class="poster-info">
              <h4>
                Affiliation
              </h4>
              <p class="">
                {{ selectedPoster.company }}
              </p>
            </div>
            <div class="poster-info" *ngIf="selectedPoster.contents">
              <h4>View</h4>
              <p>
                <a class="download" href="{{ selectedPoster.contents?.contentUrl }}" target="_blank">
                  <img class="view-icon" src="../../../../assets/icons/play.svg">
                  <span
                    class="ellipsis">{{selectedPoster.category?.categoryName === 'Virtual Video Sessions'?('Video'+selectedPoster.subTitle ): selectedPoster.contents?.title }}</span>
                </a>
              </p>
              <!-- target="_blank">{{ selectedPoster.contents?.contentUrl }}</a> ]</p> -->
            </div>
          </div>
        </div>
      </div>
      <div class="back-to-list">
        <a [routerLink]="'/posters'">
          <button>BACK TO LIST</button>
        </a>
      </div>
    </div>
  </div>
</div>
