<app-header *ngIf="!isIe"></app-header>
<router-outlet></router-outlet>
<app-footer *ngIf="!isIe"></app-footer>
<button class="btn board-btn" *ngIf="!isBoard || !isIe" (click)="goBoardResist()" [routerLink]="'/board-regist'">FAQ</button>
