/* 경고메세지 아이콘 바운스 */
@keyframes movement {
  from {
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
  }

  to {
    transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -o-transform: translateY(-5px);
  }
}

.banner-wrapper {
  position: relative;
  padding-bottom: 80px;
  text-align: center;

  .m-banner-image {
    display: none;
    width:100%;
    height: 300px;
    max-height: 28vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .btn-wrapper {
    margin-top: -96px;
    text-align: center;
    animation: movement 1s ease 0s infinite alternate;
    -webkit-animation: movement 1s ease 0s infinite alternate;


  }

  .go-btn {
    display: inline-block;
    width: 80px;

    & + span {
      display: block;
      padding-top: 8px;
      color: var(--purple);
    }

  }
}

@media (max-width: 767px) {
  .banner-wrapper {
    .m-banner-image {
      display: block;
    }
    &>img {
      display: none;
    }
  }

}

@media (max-width: 575px) {
  .banner-wrapper {
		padding-bottom: 40px;
  }

}
