<div class="banner-wrapper">
  <div class="m-banner-image" [style.backgroundImage]="'url(assets/img/banner.png)'"></div>
  <img src="assets/img/banner.png">
  <div class="btn-wrapper">
    <a (click)="scrollToTable()" class="go-btn content-link view-more"><img src="assets/icons/go-time-table.svg"
        alt="go-time-table"></a>
    <span>go Timetable</span>
    <!-- <a href="#time-table" class="go-btn content-link view-more"> -->
  </div>
</div>
