<div class="content-body">
  <div class="content-wrapper">
    <div class="content-inner">
      <div class="my-page-wrapper">
        <div class="title-wrapper">
          <h2>Hello! {{user.name}}</h2>
          <a (click)="logout()" class="login-status">Logout</a>
        </div>
        <article>
          <div class="my-page-inner personal-information">
            <h3>개인정보</h3>
            <div class="info-wrapper">
              <div class="info-inner">
                <span class="info-title">Name</span>
                <p class="info-desc">{{user.name}}</p>
              </div>
              <div class="info-inner">
                <span class="info-title">Password</span>
                <p class="info-desc">
                  <a class="email-change" data-toggle="modal" data-target="#changePassword">
                    비밀번호 변경하기
                  </a>
                </p>
              </div>
              <div class="info-inner">
                <span class="info-title">E-mail</span>
                <p class="info-desc">{{user.email}}</p>
              </div>
              <div class="info-inner" *ngIf="user.phone">
                <span class="info-title">Phone Number</span>
                <p class="info-desc">{{user.phone}}</p>
              </div>
              <div class="info-inner" *ngIf="user.organization">
                <span class="info-title">Organization</span>
                <p class="info-desc">{{user.organization}}</p>
              </div>
              <div class="info-inner" *ngIf="user.dept">
                <span class="info-title">Div./Dept.</span>
                <p class="info-desc">{{user.dept}}</p>
              </div>
              <div class="info-inner" *ngIf="user.position">
                <span class="info-title">Position</span>
                <p class="info-desc">{{user.position}}</p>
              </div>
              <div class="info-inner" *ngIf="user.title">
                <span class="info-title">Title</span>
                <p class="info-desc">{{user.title}}</p>
              </div>
              <div class="info-inner" *ngIf="user.country">
                <span class="info-title">Country</span>
                <p class="info-desc">{{user.country}}</p>
              </div>
              <div class="info-inner" *ngIf="user.address">
                <span class="info-title">Address</span>
                <p class="info-desc">{{user.address}}</p>
              </div>
            </div>
          </div>

          <div class="my-page-inner viewing-record" *ngIf="user.isLog">
            <div class="title-wrapper">
              <h3>시청기록</h3>
              <span class="item-time-total">총 시청시간 :
                {{hour}}h {{min}}m
              </span>
            </div>
            <div class="item-live" *ngFor="let history of histories">
              <!-- <span class="title-time">
                {{ history.watchTime === '00:00'?'00m 00s':(history.watchTime | date: "mm'm' ss's''" ) }}
              </span> -->
              <div class="into-inner">
                <p class="item-title">
                  {{history.title}}
                </p>
                <p>
                  시청시간 : {{ history.watchTime }}분
                </p>
              </div>
              <div class="item-time-wrapper" *ngFor="let log of history.history">
                <span class="item-time">
                  <!-- 입장: {{history.date | date:('yyyy.MM.dd (E)') }} {{log.in}} -->
                  In: {{log.in}}
                </span>
                <span class="item-time">
                  <!-- 퇴장: {{history.date | date:('yyyy.MM.dd (E)') }} {{log.out}} -->
                  Out: {{log.out}}
                </span>
              </div>
            </div>
          </div>

          <div class="my-page-inner viewing-record" *ngIf="user.isLog">
            <div class="title-wrapper">
              <h3>Vod 시청기록</h3>
              <span class="item-time-total">Vod 총 시청시간 :
                {{hourOfVod}}h {{minOfVod}}m {{secOfVod}}s
              </span>
            </div>
            <div class="item-vod" *ngFor="let vod of historiesOfVod">
              <!-- <span class="title-time">
                {{ vod.watchTime === '00:00'?'00m 00s':(vod.watchTime | date: "mm'm' ss's''" ) }}
              </span> -->
              <div class="into-inner">
                <p class="item-title">
                  {{vod.title}}
                </p>
                <span class="item-time">
                  In : {{vod.firstView | date: 'yyyy.MM.dd (EE) HH:mm:ss a' }}
                </span>
                <span class="item-time">
                  Time : {{ vod.watchTime === '00:00'?'00m 00s':(vod.watchTime | date: "mm'm' ss's''"   ) }}
                </span>
              </div>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</div>

<!-- 비밀번호 변경 -->
<div class="modal changePassword fade" id="changePassword" data-backdrop="static" role="dialog"
  aria-labelledby="changePassword" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered justify-content-center" role="document">
    <div class="modal-content not-drag">
      <div class="modal-body p-0">
        <div class="modal-title">
          비밀번호 변경
        </div>
        <div class="modal-description">
          <p>
            변경할 비밀번호를 입력해 주세요.
          </p>
        </div>
        <div class="input-form">
          <label for="password-new">새로운 비밀번호</label>
          <input type="password" id="password-new" [(ngModel)]="PASSWORD_NEW">
        </div>

        <div class="input-form">
          <label for="password-new-confirm">새로운 비밀번호 확인</label>
          <input type="password" id="password-new-confirm" [(ngModel)]="PASSWORD_CONFIRM">
        </div>

        <div class="submit-button">
          <button type="button" class="btn btn-block confirm-btn" (click)="changePassword()">
            비밀번호 변경
          </button>
          <button class="cancel" data-toggle="modal" data-target="#changePassword" (click)="cancelChangePwd()">
            취소
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
