<div class="content-body">
  <div class="content-wrapper">
    <div class="content-inner">
      <div>
        <div class="title-wrapper">
          <h2>Plenary Guest Speakers</h2>
        </div>
        <article>
          <div class="list-wrapper row m-0">
            <div class="list-item px-3" [ngClass]="mobile ? 'col-6': 'col-2'"
              *ngFor="let speaker of speakers['Guest speaker']">
              <app-speaker [speaker]="speaker"></app-speaker>
            </div>
          </div>
        </article>

        <div class="title-wrapper">
          <h2>Invited Speakers</h2>
        </div>
        <article>
          <div class="list-wrapper row m-0">
            <div class="list-item px-3" [ngClass]="mobile ? 'col-6': 'col-2'"
              *ngFor="let speaker of speakers['Invited speaker']">
              <app-speaker [speaker]="speaker"></app-speaker>
            </div>
          </div>
        </article>

        <div class="title-wrapper">
          <h2>Symposium Speakers</h2>
        </div>
        <article>
          <div class="list-wrapper row m-0">
            <div class="list-item px-3" [ngClass]="mobile ? 'col-6': 'col-2'"
              *ngFor="let speaker of speakers['Symposium speaker']">
              <app-speaker [speaker]="speaker"></app-speaker>
            </div>
          </div>
        </article>

      </div>
    </div>
  </div>
</div>
