/* banner */
.banner-wrapper {
  position: relative;
  text-align: center;

  .m-banner-image {
    display: none;
    width:100%;
    height: 150px;
    max-height: 15vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}


/* e-booth */

.content-body {
  position: relative;
  padding-top: 68px;

}

.banner-wrapper {
  text-align: center;
}

.content-wrapper {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0;
}

.bg-e-booth {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.e-booth-banner {
  position: relative;
  margin: 0 auto;
}

.e-booth-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

div[class*="spon"] button {
  display: inline-block;
  padding: 0;
  border: none;
  background: none;
  outline: none;
}

/* Platinum */

.booth-0 {
  height: 1200px;
  background-image: url(/assets/img/e-booth/booth0/bg.png);

  .booth0-spon {
    max-width: 67%;
    margin-top: -11%;
  }
}

/* Gold Plus */

.booth-1 {
  height: 1235px;
  background-image: url(/assets/img/e-booth/booth1/bg.png);

  .e-booth-wrapper {
    margin-top: 10%;
  }

  .booth1-spon {
    // max-width: 782px;
    max-width: 100%;
  }
}

/* Gold */

.booth-2 {
  height: 1410px;
  background-image: url(/assets/img/e-booth/booth2/bg.png);

  .e-booth-banner {
    margin-top: 7%;
  }

  .booth2-spon {
    max-width: 50%;
    margin-top: 2%;


    &:first-child {
      margin-top: 13%;
      padding: 0 19%;
      box-sizing: content-box;
    }
  }
}

/* Silver Plus */

.booth-3 {
  height: 1390px;
  background-image: url(/assets/img/e-booth/booth3/bg.png);

  .e-booth-wrapper {
    margin-top: 6.5%;

  }

  .booth3-spon {
    max-width: 32%;

    &:nth-child(n+4) {
      margin-top: 5%;
    }
  }
}

/* bronze */

.booth-4 {
  height: 1490px;
  background-image: url(/assets/img/e-booth/booth4/bg.png);

  .booth4-spon {
    max-width: 32%;
    margin-top: 31%;

    &:last-child {
      // margin-top: 28%;
    }

  }
}

article {
  margin-top: 0;
  padding: 0;
}

/* e-booth 모달 */
figure.e-booth {
  padding: 6px 0;
  font-size: 1.33rem;
  color: var(--gray16);

  .image-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 16px 18px;

    img {
      max-height: 100%;
    }
  }

  figcaption {
    padding: 16px 0;
  }
}

.item-info {

  h3 {
    margin-bottom: 16px;
  }

}

.modal.detail-modal {

  .modal-body {
    overflow: auto;
  }

  /* modal content */
  figure {
    display: flex;
    position: relative;
    padding: 24px;
    max-height: 100%;
    margin: 0;
    text-align: center;

    .photo {
      display: flex;
    }

    .image-wrapper {
      display: flex;
      flex: 0 0 36%;
      align-self: center;
      max-width: 36%;
      min-height: 13vh;
      max-height: 100%;

      img {
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
      }
    }
  }

  a {
    display: block;
  }

  .item-info {
    position: absolute;
    left: 37%;
    top: 24px;
    flex-basis: auto;
    min-width: 200px;
    min-height: 80px;
    font-size: 1.33rem;
    text-align: left;

    .home-link {
      margin-bottom: 28px;
      color: var(--gray22);
      transition: none;
      -webkit-transition: none;
      -moz-transition: none;
      -ms-transition: none;
      -o-transition: none;

      &:hover {
        color: var(--blue8);
        text-decoration: underline;
      }
    }

    >p {
      font-size: 1.25rem;
    }

    .item-name {
      margin-bottom: 8px;
      font-size: 1.33rem;
      font-weight: bold;
      text-align: left;
    }
  }

  .item-inner {
    flex: 0 0 60%;
    max-width: 60%;
  }

  .attachments {
    // 반응형작업을 위해 구조상 item-info를 강제로 위로 올렸기 때문에 하단에 attachments에 패딩 상단 값은 item-info height값이다.
    // 만약에 item-info에 내용이 변경되면 패딩값을 변경해야한다.
    padding-top: 80px;
    color: var(--gray22);
    font-size: 1.33rem;
    text-align: left;

  }

  .download {
    display: inline-flex;
    min-width: 137px;
    margin-top: 8px;
    margin-right: 8px;
    padding: 8px;
    color: var(--gray16);
    font-size: 14px;
    font-weight: 500;
    background: #fff;
    border: 1px solid var(--gray25);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;

    &:hover {
      color: var(--blue8);
      font-weight: 600;
      text-decoration: underline;
    }

    /*클립아이콘*/
    .icon-clip {
      display: inline-block;
      vertical-align: middle;
      width: 11px;
      height: 22px;
      margin-right: 8px;
      background-image: url('/assets/img/icon-clip.png');
      background-size: contain;
      background-repeat: no-repeat;
    }

    .ellipsis {
      max-width: 65px;
      padding-left: 5px;

      &:first-child {
        padding-left: 0;
      }
    }
  }

  .item-desc {
    display: flex;
    justify-content: center;
    padding: 0 24px;
    font-size: 1.33rem;

    &>p {
      margin-bottom: 0;
      word-break: break-all;
    }

    .image-item {
      margin-right: 16px;
    }
  }
}


/* sponsor */

.content-inner {
  max-width: 1600px;
  padding-top: 80px;
}

.list-wrapper {

  .list-item {
    flex: 0 0 16.66%;
    max-width: 16.66%;
    max-height: 300px;
    margin-bottom: 40px;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
  }
}


@media (max-width: 1600px) {
  .content-wrapper {
    height: 100%;
    padding-bottom: 10%;
  }
}

@media (max-width: 1024px) {
  figure {
    flex-wrap: wrap;
  }

  .content-body {
    .list-wrapper {
      padding: 0;

      .list-item {
        flex: 0 0 25%;
        max-width: 25%;
      }
    }
  }

  .modal.detail-modal .item-info {
    min-height: 15vh;
  }
}

@media (max-width: 991px) {

  .modal.detail-modal .item-inner {
    flex: none;
    max-width: 100%;
  }

  .modal.detail-modal .attachments {
    width: 100%;
    min-width: 300px;
    padding-top: 0;

    .download {
      max-width: 270px;
    }

    .ellipsis {
      display: inline-block;
      width: 100%;
      max-width: 90%;
      vertical-align: middle;
    }
  }
}


@media (max-width: 768px) {

  .banner-wrapper {
    .m-banner-image {
      display: block;
    }

    img {
      display: none;
    }
  }

  .content-wrapper div[class*="spon"] {
    max-width: 65%;
  }

  .booth-0 .booth0.spon,
  .booth-1 .booth1-spon {
    min-width: 65%;
  }

  .booth-2 .booth2-spon {
    max-width: 65%;
    margin-bottom: 3%;

    &:first-child {
      padding: unset;
      box-sizing: unset;
    }

  }

  .booth-3 .booth3-spon {
    max-width: 42%;
    margin-left: 8%;
    margin-bottom: 5%;
    padding: 0 10%;
    box-sizing: content-box;
  }

  .booth-4 .booth4-spon {
    max-width: 43%;
    margin-top: 5%;
    padding: 0 10%;
    box-sizing: content-box;

    &:last-child {
      margin-top: 5%;
    }

  }

  .content-wrapper.booth-0,
  .content-wrapper.booth-1  {

    div[class*="spon"] {
      max-width: 100%;
      margin-bottom: -10%;
    }
  }

  .modal.detail-modal figure .image-wrapper {
    min-width: 117px;
    height: unset;

    img {
      max-height: 100%;
    }
  }

  .modal.detail-modal .download {
    display: block;
    max-width: 100%;
  }

  .sponsor-wrapper {
    figure {
      .image-wrapper {
        height: 74px;
      }
    }
  }

  .content-body {

    .list-wrapper {

      .list-item {
        flex: 0 0 33.33%;
        max-width: 33.3%
      }
    }
  }
}

@media (max-width: 575px) {

  .content-body {

    .list-wrapper {

      .list-item {
        flex: 0 0 50%;
        max-width: 50%
      }
    }
  }

  .modal.detail-modal .item-info {

    .item-name {
      word-break: break-all;
    }
  }
}


@media (max-width: 414px) {

  .modal.detail-modal .item-info {
    max-width: 50%;
    min-width: unset;

  }

  .modal.detail-modal .download {
    display: block;
    max-width: 100%;
  }
}

@media (max-width: 360px) {

  .modal.detail-modal figure .item-info {
    left: 133px;
  }

  .modal.detail-modal .attachments {
    min-width: 260px;
  }

}

