<div class="content-body">
  <div class="banner-wrapper">
    <div class="m-banner-image" [style.backgroundImage]="'url(assets/img/e-booth/header-banner.png)'"></div>
    <img [src]="'assets/img/e-booth/header-banner.png'" role="img" alt="ebooth header banner image">
  </div>

  <div class="content-wrapper bg-e-booth" *ngFor="let category of categories; let i = index;" [ngClass]="'booth-' + i">
    <div>
      <article >
        <div class="e-booth-banner">
          <img src="assets/img/e-booth/booth{{i}}/banner.png" alt="배너">
        </div>
        <div class="e-booth-wrapper" >
          <div class="booth{{i}}-spon" *ngFor="let booth of category.booths; let a = index;">
            <button type="button" [attr.data-target]="'#e-boothModal'" data-toggle="modal" (click)="getDetail(booth)">
              <img src="assets/img/e-booth/booth{{i}}/booth-spon{{a + 1}}.png" alt="스폰{{a + 1}}">
            </button>
          </div>
        </div>
      </article>
    </div>
  </div>
  <div class="content-inner">
    <article>
      <div class="list-wrapper row m-0">
        <div class="list-item px-3 " *ngFor="let sponsor of sponsors">
          <app-sponsor [sponsor]="sponsor"></app-sponsor>
        </div>
      </div>
    </article>
  </div>
</div>

<!-- e-booth modal -->
<div class="modal detail-modal fade" id="e-boothModal" tabindex="-1" role="dialog" aria-labelledby="e-boothModal"
  aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="item-btn" data-dismiss="modal" aria-label="Close">
          <i class="icon-close-w" aria-hidden="true"></i>
        </button>
      </div>
      <div class="modal-body p-0">
        <figure class="e-booth">
          <div class="image-wrapper">
            <img [src]="selectedBooth?.photoUrl || ''" alt="{{selectedBooth?.name || ''}}">
            <div class="item-info">
              <p class="item-name">{{selectedBooth?.name || ''}}</p>
              <!-- <a title="{{(selectedBooth?.name|| '') + ' 바로가기'}}" target="_blank" [href]="selectedBooth?." class="home-link">Go
                homepage</a> -->
            </div>
          </div>
          <div class="item-inner">
            <div class="attachments" *ngIf="attachments">
              <div>
                <a *ngFor="let attachment of attachments" class="download" target="_self" title="{{attachment.title}}"
                  [href]="attachment.contentUrl" download="{{attachment.title}}">
                  <i class="icon-clip"></i>
                  <span class="ellipsis">{{attachment.title}}</span>
                </a>
              </div>
            </div>
          </div>
        </figure>
        <div class="item-desc">
          <div class="iframe-wrapper" id="boothModalDesc"></div>
        </div>
      </div>
    </div>
  </div>
</div>



