<div class="program-nav-wrapper not-drag">
  <div class="program-nav-title">Day</div>
  <div class="program-nav-list days">
    <div class="content-inner">
      <div class="program-nav-item" *ngFor="let date of dates" [ngClass]="{'active': selected?.date?.id === date.id}"
        (click)="selected?.date?.id !== date.id ? setDateFn.emit(date) : ''">
        {{date.date}}
      </div>
    </div>
  </div>
  <div class="program-nav-title">Channel</div>
  <div class="program-nav-list channels">
    <div class="content-inner">
      <!-- 17일의 룸 D/E 는 출력 안함 -->
      <ng-container *ngFor="let room of rooms">
        <div class="program-nav-item" [ngClass]="{'active': selected?.room?.id === room.id}"
          (click)="selected?.room?.id !== room.id ? setRoomFn.emit(room) : ''" *ngIf="!(
            selected?.date.date === '2020-10-17' && 
             ((room.roomName === 'Room D') || (room.roomName === 'Room E'))
            )">
          {{room.roomName}}
        </div>
      </ng-container>
    </div>
  </div>
</div>
