<div class="content-body">
  <div class="content-wrapper">
    <div class="content-inner">
      <div class="title-wrapper mb-0">
        <h2 class="vod">Video On Demand<br class="d-block d-sm-none">
        </h2>
      </div>
    </div>

    <article>
      <div class="content-inner" *ngIf="vod">
        <app-player-vod [content]="vod" [vodId]="vodId"></app-player-vod>
        <app-program-vod [vod]="vod"></app-program-vod>
        <div class="back-to-list">
          <button (click)="goBack()">BACK TO LIST</button>
        </div>
      </div>
    </article>
  </div>
</div>
